In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\Sezy\OneDrive\Housing_Prices\Cleaned_Data\Cleaned_Housing_Prices.csv")

In [3]:
df.head()

,Date,RegionID,SizeRank,RegionName,RegionType,StateName,Price
0,2010-01-31,394297,677,"Aberdeen, SD",msa,SD,131237.5905
1,2010-02-28,394297,677,"Aberdeen, SD",msa,SD,131219.7383
2,2010-03-31,394297,677,"Aberdeen, SD",msa,SD,131266.7507
3,2010-04-30,394297,677,"Aberdeen, SD",msa,SD,131412.1359
4,2010-05-31,394297,677,"Aberdeen, SD",msa,SD,131777.8433

In [5]:
# Filter data for Cleveland, OH
cleveland_df = df[df['RegionName'] == 'Cleveland, OH'].copy()

# Just to check
print(cleveland_df.head())

             Date  RegionID  SizeRank     RegionName RegionType StateName  \
25024  2010-01-31    394475        35  Cleveland, OH        msa        OH
25025  2010-02-28    394475        35  Cleveland, OH        msa        OH
25026  2010-03-31    394475        35  Cleveland, OH        msa        OH
25027  2010-04-30    394475        35  Cleveland, OH        msa        OH
25028  2010-05-31    394475        35  Cleveland, OH        msa        OH

             Price
25024  130520.4249
25025  130199.3519
25026  130007.2402
25027  130184.8722
25028  130202.4204

In [6]:
cleveland_df['Price_lag1'] = cleveland_df['Price'].shift(1)
cleveland_df['Price_lag2'] = cleveland_df['Price'].shift(2)

In [7]:
cleveland_df = cleveland_df.dropna(subset=['Price_lag1', 'Price_lag2'])

In [8]:
import statsmodels.api as sm

X = cleveland_df[['Price_lag1', 'Price_lag2']]
y = cleveland_df['Price']

# Add constant term (intercept)
X = sm.add_constant(X)

model = sm.OLS(y, X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 1.232e+06
Date:                Wed, 11 Jun 2025   Prob (F-statistic):               0.00
Time:                        15:00:55   Log-Likelihood:                -1319.4
No. Observations:                 182   AIC:                             2645.
Df Residuals:                     179   BIC:                             2654.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.2976    113.636     -0.003      0.998    -224.537     223.942
Price_lag1     1.9162      0.032     59.268      0.000       1.852       1.980
Price_lag2    -0.9158      0.033    -27.993      0.000      -0.980      -0.851
==============================================================================
Omnibus:                       24.136   Durbin-Watson:                   0.717
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              132.751
Skew:                           0.031   Prob(JB):                     1.49e-29
Kurtosis:                       7.184   Cond. No.                     1.03e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.03e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

In [9]:
print(y)

25026    130007.2402
25027    130184.8722
25028    130202.4204
25029    130022.1279
25030    129442.6127
            ...
25203    242051.3344
25204    243321.9398
25205    244525.4002
25206    245187.8466
25207    245769.7745
Name: Price, Length: 182, dtype: float64

In [10]:
print(cleveland_df[['Price', 'Price_lag1', 'Price_lag2']].corr())

               Price  Price_lag1  Price_lag2
Price       1.000000    0.999805    0.999251
Price_lag1  0.999805    1.000000    0.999801
Price_lag2  0.999251    0.999801    1.000000

In [ ]:
cleveland_df['Price_diff'] = cleveland_df['Price'] - cleveland_df['Price'].shift(1)
cleveland_df['Price_diff_lag1'] = cleveland_df['Price_diff'].shift(1)
cleveland_df['Price_diff_lag2'] = cleveland_df['Price_diff'].shift(2)

: